@media only screen and (max-width:576px) {
    .nav_container{
        flex-direction: column;  
    }
    .logo_name_container{
        align-items: center;
    }
    .item_container {  
        flex-direction: column;
        align-items: center;
           
    }

    .Banner_container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .Banner_text_container{
        width: 100%;
        
    }
    .Banner_image_container{
        width: 100%;  
    }
    
    

    

}